h1{
    margin-left: 200px;
    margin-right: 200px;
}

.box{
    border: 2px solid black;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.radius{
    border: 3px solid blue;
    margin: 20px 200px;
    padding: 10px 0;
    border-radius: 15px;
    padding-left: 10px;
}

.putus-pustus{
    border: 2px dashed red;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.titik{
    border: 2px dotted purple;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.double{
    border: 5px double green;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.groove{
    border: 3px groove purple;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.inset{
    border: 3px inset orangered;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.outset{
    border: 3px outset teal;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.ridge{
    border: 3px ridge brown;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}

.sisi{
    border-top: 4px solid red;
    border-bottom: 4px solid green;
    border-left: 4px solid orange;
    border-right: 4px solid blue;
    margin: 20px 200px;
    padding : 10px 0;
    padding-left: 10px;
}

.gradasi{
    border: 5px solid;
    border-image: linear-gradient(to right, red, orange, blue, indigo, violet) 1;
    margin: 20px 200px;
    padding: 10px 0;
    padding-left: 10px;
}